
  
  body {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url("https://media0.giphy.com/media/1X7sAm5fi8IFy/giphy.gif");
    background-repeat:no-repeat;
    background-position: center;
    background-size: 65%;
    background-color: #280137
  
  }

 


  #header{

    text-align: center;
    position: absolute;
    color: #B026FF;
    font-family: 'DotGothic16', sans-serif;
    font-size: 200%;
    top:0px;
    text-shadow: 3px 3px rgb(255, 16, 240);

  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(242, 255, 0);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    font-family: 'DotGothic16', sans-serif;
    font-weight:650;
      
  }

  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
       
  }
  

  
  .btn {
    background-color: hsl(246, 82%, 7%);
    border: 3px solid hsl(357, 100%, 50%);
    border-radius: 10px;
    padding: 5px 10px;
    color: rgb(255, 0, 0);
    outline: none;
    text-shadow: 0.5px 0.5px #ff8400;
  }
  
  .btn:hover {
    border-color:black;
    
  }